

body{
	margin: 0;
	padding: 0;
	background-color: #2c2c47;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* -webkit-transform: scale(0.5);
       -moz-transform: scale(0.5);
            transform: scale(0.5); */
}

img{
	width: 7vw;
	height: 7vh;
}

.loadingScreen{
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading{
	width: 80px;
	display: flex;
	flex-wrap: wrap;
	animation: rotate 1.5s linear infinite;
}

@keyframes rotate{
	to{
		transform: rotate(360deg);
	}
}

.loading span{
	width: 30px;
	height: 30px;
	background-color: aliceblue;
	margin: 3px;
	animation: scale 1s linear infinite;
}

@keyframes scale{
	50%{
		transform: scale(1.2);
	}
}

.loading span:nth-child(1){
	border-radius: 50% 50% 0 50%;
	background-color: antiquewhite;
	transform-origin: bottom right;
}
.loading span:nth-child(2){
	border-radius: 50% 50% 50% 0;
	background-color: rgb(159, 199, 235);
	transform-origin: bottom left;
	animation-delay: .2s;
}
.loading span:nth-child(3){
	border-radius: 50% 0 50% 50%;
	background-color: rgb(178, 233, 233);
	transform-origin: top right;
	animation-delay: .4s;
}
.loading span:nth-child(4){
	border-radius: 0 50% 50% 50%;
	background-color: ghostwhite;
	transform-origin: top left;
	animation-delay: .6s;
}

#ghost{
	top:20%;
	left: 50%;
	/* width: 150px;
	height: 170px; */
	width: 75px;
	height: 85px;
	background-color: rgb(250, 250, 250);
	border-radius: 75px 75px 0px 0px;
	position: absolute;
	cursor: grab;
	animation: floating 3s infinite ease-in-out;
}

@keyframes floating{
	50%{
		transform: translateY(-30px);
	}
}

#face{
	/* width: 100px; */
	width: 50px;
	position: absolute;
	/* top: 70px; */
	/* left: calc(50% - 50px); */
	top: 35px;
	left: calc(50% - 25px);
}

.eyes{
	/* height: 10px; */
	height: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* margin-bottom: 15px; */
	margin-bottom: 8px;
}

.eyes span{
	/* width: 20px;
	height: 20px; */
	width: 10px;
	height: 10px;
	background-color: rgb(24, 23, 23);
	border-radius: 50%;
	transition: .3s linear;
}

#ghost:hover .eyes span{
	/* height: 15px; */
	height: 7px;
}

.mouth{
	/* width: 50px;
	height: 15px; */
	width: 25px;
	height: 8px;
	background-color: rgb(24, 23, 23);
	margin: auto;
	/* border-radius: 20px 20px 10px 10px; */
	border-radius: 10px 10px 5px 5px;
	transition: .3s linear;
}

#ghost:hover .mouth{
	height: 15px;
	/* border-radius: 0px 0px 20px 20px; */
	border-radius: 0px 0px 10px 10px;
}

.hands{
	/* width: 190px; */
	width: 95px;
	position: absolute;
	/* left: -20px;
	top: 80px; */
	left: -10px;
	top: 40px;
	display: flex;
	justify-content: space-between;
}

.hands span{
	/* width: 30px;
	height: 30px; */
	width: 15px;
	height: 15px;
	background-color: rgb(250, 250, 250);
}

.hands span:first-child{
	/* border-radius: 20px 0 0 20px; */
	border-radius: 10px 0 0 10px;
}

.hands span:last-child{
	/* border-radius: 0 20px 20px 0; */
	border-radius: 0 10px 10px 0;
}

.feet{
	position: absolute;
	width: 100%;
	bottom: -20%;
	display: flex;
}

.feet span{
	flex: 1;
	/* height: 30px; */
	height: 15px;
	background-color: rgb(250, 250, 250);
	/* border-radius: 0 0 20px 20px; */
	border-radius: 0 0 10px 10px;
}

.feet span:first-child{
	/* border-radius: 0 0 40px 20px; */
	border-radius: 0 0 20px 10px;
}

.feet span:last-child{
	/* border-radius: 0 0 20px 40px; */
	border-radius: 0 0 10px 20px;
}

.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #202020;
	text-align: center;
	border-radius: 15px;
	display: none;
}

.box h1{
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bolder;
}

.box h2{
	color: #fa7b12;
	text-transform: uppercase;
	font-weight: bolder;
}

.box input[type = "text"], .box input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	text-align: center;
	margin: 20px auto;
	border: 2px solid #67cde7;
	padding: 15px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.5s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
	width: 250px;
	border-color: #fa7b12;
}

.box button{
	border: 0;
	background: none;
	display: block;
	text-align: center;
	margin: 20px auto;
	border: 2px solid #67cde7;
	padding: 15px 50px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.5s;
	cursor: pointer;
}

.box button:hover{
	padding: 20px 60px;
	background-color: #fa7b12;
	border: 2px solid #fa7b12;
}

.pumpkin{
	display: none;
	transform: translateY(30vh);
}

#timerWrap{
	padding-top: 5vw;
	padding-left: 3vw;
	align-self: normal;
	height: 10vh;
	width: 20vw;
	font-weight: bolder;
	color: white;
	font-size: xx-large;
}

#counterWrap{
	padding-top: 5vw;
	padding-right: 3vw;
	align-self: normal;
	height: 10vh;
	width: 20vw;
	font-weight: bolder;
	color: white;
	font-size: xx-large;
}

#score{
	font-size: 5vh;
}
